body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', arial;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    border-style:solid;
    border-color: white;
}
.links{
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}
a {
    color: white;
    text-decoration: none;
}
li {
    list-style-type: none;
}
.header-content{
    background-color: #1f2937;
    display: flex;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 60px;
    flex: 1 1 auto
}
.header-text{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    font-size: x-large;
}
.header-text p{
    font-size: large;
}
.sign-up{
    max-width: 80px;
    background-color:lightblue;
    border-radius: 10px;
}
.header-img{
    border-radius: 50%;
    max-width: 500px;
    max-height: auto;
    padding-left: 20px;
    padding-bottom: 20px;
    flex: 1 1 auto;
    object-fit: cover;
}
.title{
    text-align: center;
    padding-top: 22px;
    font-size: 28px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    padding: 55px;
    flex-flow: row wrap
}
.info{
    font-size: 15px;
    text-align: center;
    max-width: 200px;
    padding-top: 5px;
    flex-wrap: wrap;
}

img{
    max-width: 200px;
    max-height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 200px;
    align-items: center;
}

.quote p{
    font-size: 25px;
    color: black;
    font-style: italic;
    font-weight: lighter;
    max-width: 500px;
}
.quote b {
    text-align: right;
    padding-bottom: 20px;
    padding-left: 200px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.modal{
    display: flex;
    align-items: center;
    background-color: #3882F6 ;
    margin: 128px auto;
    padding: 10px 60px;
    border-radius: 5px;
    border-color: none;
    max-width: 800px;
}


.action-text{
    text-align: left;
}
h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}
.action-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

.button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
    flex-shrink: 0;
}
.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
    text-align: center;
    padding: 20px;
}